@charset "utf-8";
/*
 * fixed_menu.css
 * -*- Encoding: utf8n -*-
 */

table.fixedmenu_t1 {
  width: 100%;
  border-collapse: collapse;
}

.fixedmenu_t1 td {
  padding: 2px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}

fieldset {
  border: 1px solid #ccc;
  margin: 0 5px 5px 0;
  width: 94%;
}


legend {
  margin: 0 0 0 10px;
}

.infield {
  padding: 5px;
}

.msg {
  background: #fdd;
  padding: 5px;
}

#link_uri {
  width: 60%;
}
#link_string {
  width: 20%;
}
#link_image {
  width: 40%;
}
#link_cssClass {
  width: 20%;
}

#home_string {
  width: 20%;
}
#home_image {
  width: 60%;
}

#contents_html2 {
  width: 47%;
  float: left;
}
#contents_html2:after {
  content: "";
  display: block;
  clear: both;
}

#menu_html2 {
  width: 47%;
  float: left;
}
#menu_html2:after {
  content: "";
  display: block;
  clear: both;
}

#contents_html {
  width: 100%;
  float: left;
  height: 320px;
  overflow-y: scroll;
}

#menu_html {
  width: 100%;
  float: left;
  height: 320px;
  overflow-y:scroll;
}

#fixed_menu_ctrl {
  clear: both;
}

